@import "libs/normalize";
@import "variables";

* {
  box-sizing: border-box;
}

a {
  color: #4c7a8d;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    color: #64a0b9;
  }
}

.main-container{
  background: #ddd;
}

@import "layout";
@import "footer";
@import "sidebar";
@import "article";
@import "post-list";
@import "monochrome";
@import "highlight";
@import "pagination";
@import "archive";
@import "mobile-header";
@import "third-party";
